.film {
    display: inline-block;
    width: 135px;
    height: 216px;
    background-color: #13313d;
    margin-top: 25px;
    margin-left: 25px;
}

.titleFilm {
    display: block;
    width: 135px;
    height: 180px;
    background-color: yellow;
}
