@import url("variable.css");

.thongTinFilm {
    width: 94%;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 25px;
    background-color: white;
    border: thin solid var(--dark-blue);
    border-radius: 15px;
}

.hinhAnh {
    width: 23%;
    height: 320px;
    margin: 20px;
    border-radius: 10px;
    background-color: blue;
    background-size: cover;
    float: left;
}

.thongTin {
    position: relative;
    float: left;
    width: 70.5%;
    height: 320px;
    margin-top: 20px;
    border-radius: 10px;
    background: wheat;
}

a.xemPhim {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: black;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 30px;
    background-color: var(--dark-blue);
    text-decoration: none;
}

.moTa {
    box-sizing: border-box;
    padding: 10px;
}

.thongTinChiTiet div {
    font-size: 30px;
    margin: 20px;
}
