@import url("variable.css");

@font-face {
    font-family: Itim;
    src: url(../Assets/Fonts/Itim-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Itim;
    font-size: 18px;
}

.top {
    height: 100px;
    background-image: linear-gradient(45deg, #55a6d1, #a8368e);
}

div.topnav {
    background-color: var(--dark-blue);
    overflow: hidden;
}

ul {
    list-style: none;
}

ul.nav li {
    float: left;
    padding: 20px 15px;
}

ul.nav li a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}

ul.nav li:hover {
    background-color: #37addd;
}

ul.nav li:hover > a {
    font-weight: bolder;
}

div.fSearch form {
    display: block;
    float: left;
    padding-left: 20px;
}

input {
    padding: 5px 0;
    margin-top: 15px;
    border: none;
    outline: none;
}

form.fSearch input[type="text"] {
    width: 200px;
    margin-left: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
}

form.fSearch input[type="button"]:hover {
    background-color: rgb(124, 124, 124);
}

form.fSearch input[type="button"] {
    cursor: pointer;
    padding: 5px 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -5px;
    background-color: silver;
}

form.fSearch input[type="button"]:active {
    background-color: black;
    color: white;
}

.thongTinDangNhap {
    float: right;
    margin-right: 15px;
    margin-top: 1px;
}
.tenDangNhap {
    display: inline-block;
    margin-right: 15px;
    padding: 18px 0px;
    font-weight: bold;
}

.thongTinDangNhap > a {
    text-decoration: none;
    color: black;
}

.thongTinDangNhap > a:hover {
    color: var(--color-background);
}

.hinhAnhDangNhap {
    float: right;
    width: 54px;
    height: 54px;
    margin-top: 2px;
    background-color: var(--color-background);
    border-radius: 30px;
    background: url("../Assets/Images/icon/user64.png") no-repeat center center /
        100% auto;
}

.container {
    background-color: var(--color-background);
    padding-top: 25px;
    overflow: hidden;
    padding-bottom: 25px;
}

.banner {
    width: 94%;
    height: 295px;
    background-color: var(--dark-blue);
    margin: auto;
    /* background-image: url("../Assets/Images/banners/banner-avatar.jpg");
    background-position: center center;
    background-repeat: no-repeat; */
}

.left {
    float: left;
    width: 18%;
    height: 1295px;
    background-color: #1d82ab;
    margin-top: 25px;
    margin-left: 44px;
}

.title {
    font-size: 25px;
    text-align: center;
    padding: 10px 0px;
    outline: medium solid black;
    background-color: var(--dark-blue);
}

/* -------------------------------------------------FilmHot----------------------------------------------------- */

.filmHot {
    width: 90%;
    margin: 15px 5px 0 5px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 15px;
}

.filmHot:hover {
    border: medium solid black;
}

a.linkFilmHot:hover .titleFilmHot {
    color: yellow;
}

.posterFilmHot {
    position: relative;
    height: 216px;
}

.posterFilmHot img {
    width: 100%;
    height: 216px;
    border-radius: 20px;
}

.titleFilmHot {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
}

/* -------------------------------------------------Content----------------------------------------------------- */
.content {
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 44px;
    width: 74.5%;
    height: 1295px;
    background: url(../Assets/Images/backgrounds/background-Content.jpg)
        no-repeat center top / cover;
}

.film {
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 168px;
    height: 216px;
    background-color: #13313d;
    margin-top: 25px;
    margin-left: 25px;
}

.film:hover {
    border-radius: 10px;
    border: medium solid var(--color-background);
}

.posterFilm img {
    width: 100%;
    height: 216px;
}

.titleFilm {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--dark-blue);
    color: yellow;
    text-align: center;
}

/* -------------------------------------------------Footer----------------------------------------------------- */
footer {
    padding: 20px 0px;
    font-size: 20px;
    background-image: linear-gradient(45deg, #55a6d1, #a8368e);
}

footer img {
    float: left;
    height: 75px;
    margin-left: 50px;
    margin-right: 300px;
}
