@import url("variable.css");

.body_video {
    width: 95%;
    height: 100px;
    background-color: var(--color-background);
    margin: auto;
    margin-top: 18.5px;
    margin-bottom: 18.5px;
}

.videoFilm {
    width: 100%;
    height: 100%;
}

.server {
    padding-left: 10px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: #ccb26b;
    color: white;
}

div.titlecomment {
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
}

.postComment {
    width: 95%;
    margin: auto;
}

div.comment form {
    width: 95%;
    height: 400px;
    background-color: #fff6f6;
    margin: auto;
}

.comment .writecomment {
    display: inline-block;
    height: 50px;
    padding-left: 25px;
    width: 86%;
    border-radius: 50px;
    border: thin solid var(--dark-blue);
}

.entercomment {
    margin-top: 22px;
    width: 10%;
}

.userComment {
    width: 1000px;
    height: 50px;
    margin-top: 20px;
    margin-left: 22px;
    font-size: 25px;
}

.quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 32px 12px 12px;
}

.arrow-left,
.arrow-right {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}
